<h2>Authors</h2>

<button><a href="/author/new">Add Author</a></button>
<hr>

<% @authors.each do |author| %>
<p>ID: <%= author.id %></p>
<p>First Name: <%= author.first_name %></p>
<p>Last Name: <%=author.last_name  %></p>



<button><a href="/author/<%= author.id %>/edit">Edit Author</a></button>

<form class="" action="/author/<%= author.id %>/delete" method="post"><input type="submit" name="delete" value="Delete Author">
</form>

<hr>
<% end %>
