<h2>Authors</h2>

<div class='add-btn'>
  <button><a href="/author/new">Add Author</a></button>
</div>

<hr>
<div class="table-position">
<table>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>
<% @authors.each do |author| %>
  <td><%= author.id %></td>
  <td><%= author.first_name %></td>
  <td><%=author.last_name  %></td>
  <td><button><a href="/author/<%= author.id %>/edit">Edit Author</a></button></td>
  <td><form class="" action="/author/<%= author.id %>/delete" method="post"><input type="submit" name="delete" value="Delete Author">
  </form></td>
  </tr>
  <% end %>

</table>
</div>



<hr>
