<div class='row add-btn'>
<button>
  <a href="/products/new">Add Product</a>
</button>
</div>


<h2>Filter Products</h2>
<div class="filters">
<form action="/genres/filter" method="post">
  <label for="genre-id">Genre:</label>
  <select class="" name="genre_id" id="genre_id">
    <% @genre.each do |genre| %>

      <option value="<%= genre.id %>"><%= genre.genre_type %></option>
    <% end %>
  </select>
  <button class="add_btn" type="submit">Filter</button>
</form>
</div>

<div class=container>
<div class="filters">
<form action="/authors/filter" method="post">
  <label for="author-id">Author</label>
  <select class="" name="author_id" id="author_id">
    <% @author.each do |author| %>
      <option value="<%= author.id %>"><%= author.first_name %> <%= author.last_name %></option>
    <% end %>
  </select>
  <button class="add_btn" type="submit">Filter</button>
</form>
</div>

<div class="filters">
<form action="/publisher/filter" method="post">
  <label for="publisher-id">Publisher</label>
  <select class="" name="publisher_id" id="publisher_id">
    <% @publisher.each do |publisher| %>

      <option value="<%= publisher.id %>"><%= publisher.name %></option>
    <% end %>
  </select>
  <button class="add_btn" type="submit">Filter</button>
</form>
</div>
</div>
</div>
<hr>

<h2 class="text-center">All Products</h2>

<table>
  <tr>
    <th>Book ID</th>
    <th>Book Name</th>
    <th>ISBN</th>
    <th>Current Stock</th>
    <th>Min Stock Level</th>
    <th>Author</th>
    <th>Publisher</th>
    <th>Genre</th>
    <th>Trade Price</th>
    <th>Retail Price</th>
    <th>Markup</th>
    <th>View</th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.id %></td>
      <td><%= product.name %></td>
      <td><%=product.isbn %></td>

      <% if product.current_stock <= product.minimum_stock && product.current_stock > 0 %>
        <td class='orange text-center'><%= product.current_stock %></td>
      <% elsif product.current_stock == 0%>
        <td class='red text-center'><%= product.current_stock %></td>
      <% else%>
        <td class='text-center'><%= product.current_stock %></td>
      <% end %>

      <td class='text-center'><%= product.minimum_stock %></td>
      <td><%= product.author.first_name%> <%= product.author.last_name %></td>
      <td><%= product.publisher.name %></td>
      <td><%= product.genre.genre_type %></td>
      <td class='text-center'><%= product.trade_price.round(2) %></td>
      <td class='text-center'><%= product.retail_price.round(2) %></td>
      <td class='text-center'><%= (((product.retail_price -= product.trade_price) / product.trade_price) * 100).round(2)%>%</td>
      <td class='text-center'>
        <a href="products/<%= product.id %>">View Details</a>
      </td>

    </tr>
  <% end %>

</table>
