<h3>New Product</h3>



  <form class="" action="/products" method="POST">

    <div>
      <label for="name-field">Product Name</label>
      <input type="text" name="name" value="" id="name-field">
    </div>

    <div>
      <label for="description-field">Description:</label>
      <textarea name="description" rows="8" cols="80"></textarea>
    </div>

    <div>
      <label for="isbn-field">ISBN:</label>
      <input type="text" name="isbn" value="" id="isbn-field">
    </div>

    <div>
      <label for="date-published">Date Published:</label>
      <input type="text" name="date_published" value="" id="date-published">
    </div>

    <div>
      <label for="current-stock">Current Stock:</label>
      <input type="text" name="current_stock" value="" id="current-stock">
    </div>

    <div>
      <label for="minimum-stock">Minimum Stock Level</label>
      <input type="text" name="minimum_stock" value="" id="minimum-stock">
    </div>

    <div>
      <label for="trade=price">Trade Price:</label>
      <input type="text" name="trade_price" value="" id="">
    </div>

    <div>
      <label for="retail-price">Retail Price:</label>
      <input type="text" name="retail_price" value="" id="retail-price">
    </div>
    <div>
      <label for="publisher-id">Publisher:</label>
      <select class="" name="publisher_id" id="publisher-field">
        <% @publisher.each do |publisher| %>

          <option value="<%= publisher.id %>"><%= publisher.name %></option>
        <% end %>
      </select>
    </div>
    <div>
      <label for="author-id">Author:</label>
      <select class="" name="author_id" id="author-field">
        <% @author.each do |author| %>

          <option value="<%= author.id %>"><%= author.first_name %>
            <%= author.last_name %></option>
        <% end %>
      </select>
    </div>
    <div>
      <label for="genre-id">Genre:</label>
      <select class="" name="genre_id" id="genre-field">
        <% @genre.each do |genre| %>

          <option value="<%= genre.id %>"><%= genre.genre_type %></option>
        <% end %>

      </select>
    </div>

    <div>
      <label for=""></label>
        <input type="submit" name="" value="Save Product">

    </div>

  </form>
