<h2>Products</h2>



<button><a href="/products/new">Add Product</a></button>
<hr>

<table>
  <tr>
    <th>Book ID</th>
    <th>Book Name</th>
    <th>ISBN</th>
    <th>Current Stock</th>
    <th>Min Stock Level</th>
    <th>Author</th>
    <th>Genre</th>
    <th>Trade Price</th>
    <th>Retail Price</th>
    <th>Markup</th>
    <th>View</th>
  </tr>
  <% @products.each do |product| %>
  <tr>
    <td><%= product.id %></td>
    <td><%= product.name %></td>
    <td><%=product.isbn  %></td>
    <td><%= product.current_stock %></td>
    <td><%= product.minimum_stock %></td>
    <td><%= product.author.first_name%></td>
    <td><%= product.genre.genre_type %></td>
    <td><%= product.trade_price.round(2) %></td>
    <td><%= product.retail_price.round(2) %></td>
    <td><%= (((product.retail_price -= product.trade_price) / product.trade_price) * 100).round(2)%>%</td>
    <td><a href="products/<%= product.id %>">View Details</a></td>

</tr>
<% end %>

</table>
