<form class="" action="/products/<%= @product.id %>" method="POST">

  <label for="name-field">Product Name</label>
  <input type="text" name="name" value="<%= @product.name %>" id="name-field">

  <label for="description-field">Description:</label>
  <input type="text" name="description" value="<%= @product.description %>" id="description-field">

  <label for="isbn-field">ISBN:</label>
  <input type="text" name="isbn" value="<%= @product.isbn %>" id="isbn-field">

  <label for="date-published-field">Date Published:</label>
  <input type="text" name="date_published" value="<%= @product.date_published %>" id="date-published-field">

  <label for="current-stock-field">Current Stock:</label>
  <input type="text" name="current_stock" value="<%= @product.current_stock %>" id="current-stock-field">

  <label for="minimum-stock-field">Minimum Stock Level</label>
  <input type="text" name="minimum_stock" value="<%= @product.minimum_stock %>" id="minimum-stock-field">

  <label for="trade-price-field">Trade Price:</label>
  <input type="text" name="trade_price" value="<%= @product.trade_price %>" id="trade-price-field">

  <label for="retail-price-field">Retail Price:</label>
  <input type="text" name="retail_price" value="<%= @product.retail_price %>" id="retail-price-field">

  <label for="publisher-id-field">Publisher:</label>
  <select class="" name="publisher_id" id="publisher-id-field">
  <% @publisher.each do |publisher| %>

  <option value="<%= publisher.id %>"><%= publisher.name %></option>
  <% end %>
  </select>



  <label for="author-id-field">Author:</label>
  <select class="" name="author_id" id="author-id-field">
  <% @author.each do |author| %>

  <option value="<%= author.id %>"><%= author.first_name %></option>
  <% end %>
  </select>

  <label for="genre-id-field">Genre:</label>
  <select class="" name="genre_id" id="genre-id-field">
  <% @genre.each do |genre| %>

  <option value="<%= genre.id %>"><%= genre.genre_type %></option>
  <% end %>
  </select>

  <input type="submit" name="" value="Update Product">


</form>
