<section class= 'new-prod-form'>

<form class="" action="/products/<%= @product.id %>" method="POST">
  <div>
  <label for="name-field">Product Name</label>
  <input type="text" name="name" value="<%= @product.name %>" id="name-field">
  </div>
  <div>


  <label for="description-field">Description:</label>
    <textarea name="description" rows="8" cols="80" value="<%= @product.description %>" id="description-field"></textarea>
  </div>

<div>
  <label for="isbn-field">ISBN:</label>
  <input type="text" name="isbn" value="<%= @product.isbn %>" id="isbn-field">
</div>
<div>
  <label for="date-published-field">Date Published:</label>
  <input type="text" name="date_published" value="<%= @product.date_published %>" id="date-published-field">
</div>
<div>
  <label for="current-stock-field">Current Stock:</label>
  <input type="text" name="current_stock" value="<%= @product.current_stock %>" id="current-stock-field">
</div>
<div>
  <label for="minimum-stock-field">Minimum Stock Level</label>
  <input type="text" name="minimum_stock" value="<%= @product.minimum_stock %>" id="minimum-stock-field">
</div>
<div>
  <label for="trade-price-field">Trade Price:</label>
  <input type="text" name="trade_price" value="<%= @product.trade_price %>" id="trade-price-field">
</div>
<div>
  <label for="retail-price-field">Retail Price:</label>
  <input type="text" name="retail_price" value="<%= @product.retail_price %>" id="retail-price-field">
</div>

<div>
    <label for="publisher_select">Publisher:</label>
    <select name="publisher_id" id="publisher_select">
      <%@publisher.each do |publisher|%>

        <option value="<%= publisher.id %>"
          <%= "selected" if publisher.id == @product.publisher_id %>>
          <%= publisher.name %>
          </option>
        <% end %>

      </select>
</div>
<div>

      <label for="author_select">Author:</label>
      <select name="author_id" id="author_select">
        <%@author.each do |author|%>

          <option value="<%= author.id %>"
            <%= "selected" if author.id == @product.author_id %>>
            <%= author.first_name %>
            </option>
          <% end %>

        </select>
</div>
<div>
      <label for="genre_select">Genre:</label>
      <select name="genre_id" id="genre_select">
        <%@genre.each do |genre|%>

          <option value="<%= genre.id %>"
            <%= "selected" if genre.id == @product.genre_id %>>
            <%= genre.genre_type %>
            </option>
          <% end %>

        </select>
        </div>


<div class="submit-btn">
  <label for=""></label>
  <input type="submit" name="" value="Update Product">
</div>

</form>
</section>
