<h2>Publishers</h2>

<button><a href="/publisher/new">Add Publisher</a></button>
<hr>


<% @publisher.each do |publisher| %>
<p>Publisher ID: <%= publisher.id %></p>
<p>Publisher Name: <%= publisher.name %></p>
<p>Street: <%=publisher.street  %></p>
<p>City: <%= publisher.city %></p>
<p>Postcode: <%= publisher.postcode %></p>
<p>Phone: <%= publisher.phone %></p>
<p>Email: <%= publisher.email %></p>


<form class="" action="/publisher/<%= publisher.id %>/delete" method="POST"><input type="submit" name="delete" value="Delete Publisher">
</form>


<hr>
<% end %>
