<h2>Publishers</h2>

<div class='add-btn'>
<button class="submit-btn"><a href="/publisher/new">Add Publisher</a></button>
</div>
<hr>

<table>
<tr>
<th>Publisher ID</th>
<th>Publisher Name</th>
<th>Street:</th>
<th>City</th>
<th>Postcode</th>
<th>Phone</th>
<th>Email</th>
<th>Edit</th>
<th>Delete</th>
</tr>
<% @publisher.each do |publisher| %>
<tr>
  <td><%= publisher.id %></td>
  <td><%= publisher.name %></td>
  <td><%=publisher.street  %></td>
  <td><%= publisher.city %></td>
  <td><%= publisher.postcode %></td>
  <td><%= publisher.phone %></td>
  <td><%= publisher.email %></td>
  <td><button><a href="/publisher/<%= publisher.id %>/edit">Edit</a></button></td>
  <td><form class="" action="/publisher/<%= publisher.id %>/delete" method="POST"><input class="delete-btn" type="submit" name="delete" value="Delete">
  </form></td>
</tr>



<% end %>
</table>
