<h2 class="">Stock Level Warnings</h2>
<hr>
<h3>Low Stock Products</h3>

<table>
<% @product.each do |product| %>

<tr>
  <th>Product Name</th>
  <th>Current Stock</th>
  <th>Order Amount</th>
</tr>
<tr>
  <td><%= product.name %></td>
  <td><%=product.current_stock%></td>
  <form action="/products/<%= product.id %>/add" method="post" name="order_amount" id="order_amount">
  <td><input type="number" name="order_amount" min="0"></td>
  <td><button type="submit">Submit</button></td>
  </form
</tr>

<% end %>

</table>


<h3>Out Of Stock Products</h3>
<table>
<% @product1.each do |product| %>

<tr>
  
  <th>Product Name</th>
  <th>Current Stock</th>
  <th>Order Amount</th>
</tr>
<tr>
  <td><%= product.name %></td>
  <td><%=product.current_stock%></td>
  <form action="/products/<%= product.id %>/add" method="post" name="order_amount" id="order_amount">
  <td><input type="number" name="order_amount" min="0"></td>
  <td><button type="submit-btn">Submit</button></td>
  </form>
</tr>

<% end %>

</table>
